/* Geral */
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: #3b4e62;
}
p {
  color: #515b66;
}

/* Navbar */
.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #3b4e62;
  padding: 0 2rem;
}
.logo {
  width: 150px;
  height: auto;
  margin-top: 5px;
  border-radius: 4px;
}
.navbar-items {
  position: absolute;
  right: 50px;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}
.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}
.navbar-items a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
/* muda de cor ao passar o mouse por cima */
.navbar-items a:hover {
  color: #ccc;
}
.default-btn {
  padding: 15px 20px;
  background-color: #26a753;
  border-radius: 5px;
}
.navbar-items .default-btn:hover {
  background-color: #208c46;
  color: #fff;
}
/* Main banner */
.main-banner {
  background-image: url("../img/fit2.jpg");
  padding: 10rem 0;
  background-size: cover;
  background-position: center;
}
.main-banner h1,
.main-banner p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-shadow: #000 3px 2px 3px;
}
.main-banner h1 {
  font-size: 60px;
}
.main-banner p {
  font-size: 32px;
}
.main-banner-text {
  background-color: rgba(59, 78, 98, 0.5);

  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 4px;
}

/* Benefits */
.benefits-container {
  padding: 5rem 0;
}
.benefits-container ul {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.benefits-container li {
  flex: 1 1 200px;
  list-style: none;
  text-align: center;
  padding: 20px;
}
.fas {
  font-size: 70px;
  margin-bottom: 15px;
}
.fa-brain {
  color: #c25da7;
}
.fa-medal {
  color: #dfd50d;
}
.fa-clock {
  color: #e30000;
}
.benefits-container h3 {
  margin-bottom: 25px;
  font-size: larger;
}
.benefits-container p {
  line-height: 30px;
}

/* Prices and Plans */
.pricing-container {
  padding-bottom: 5rem;
  text-align: center;
}
.pricing-container h2 {
  font-size: 40px;
  margin-top: 0;
}
.pricing-container p {
  font-size: 22px;
}
.plans-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto 0;
}
.plan {
  flex: 1;
  max-width: 295px;
  margin: 0 20px;
}
.plan ul {
  padding: 0;
}
.plan li {
  list-style: none;
  max-height: 200px;
  line-height: 50px;
  background-color: #e8e9ea;
  color: #515b66;
}
.plan .plan-name {
  width: 120px;
  height: 120px;
  border-radius: 70px;
  border: 5px double #3b4e62;
  background-color: #2cc762;
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin: 0 auto -50px;
  padding-top: 33px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.plan .discount-name {
  background-color: #e30000;
}
.plan .elite-name {
  background-color: #a58700;
}
.plan .discount-price .discounted-price {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-bottom: -15px;
  text-decoration: line-through;
  color: #e30000;
}
.plan .price {
  padding-top: 50px;
  background-color: #3b4e62;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  border: 3px solid #2cc762;
  font-weight: bold;
}
.plan .discount-price {
  padding-top: 45px;
  border: 3px solid #e30000;
}
.plan .elite-price {
  border: 3px solid #a58700;
}
.plan .plan-btn {
  background-color: #2cc762;
  color: #fff;
  font-size: 24px;
  height: 75px;
  line-height: 75px;
  cursor: pointer;
  transition: 0.5s;
}
.plan .plan-btn:hover {
  background-color: #208c46;
}
.plan .discount-btn {
  background-color: #e30000;
}
.plan .discount-btn:hover {
  background-color: #a10101;
}
.plan .elite-btn {
  background-color: #a58700;
}
.plan .elite-btn:hover {
  background-color: #7b6500;
}

/* Faq */
.faq-container {
  padding: 2rem;
  text-align: center;
  background-color: #3b4e62;
}
.faq-container h2 {
  font-size: 40px;
  margin-top: 0;
  padding-bottom: 2rem;
  color: #fff;
}
.faq-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}
.faq-item {
  flex: 1 1 45%;
  background-color: #e8e9ea;
  padding: 20px;
  text-align: left;
  border-left: 4px solid #2cc762;
  border-radius: 8px;
}
.fa-question-circle {
  color: #ffffff;
  margin-bottom: 0;
}
.faq-item h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
.faq-item h4 {
  font-size: 15px;
  margin-bottom: 10px;
}
.faq-item p {
  line-height: 30px;
}

/* Contact form */
.contact-container {
  text-align: center;
  padding: 5rem 0 2rem 0;
}
.contact-container h2 {
  font-size: 36px;
  margin-bottom: 15px;
}
.contact-container p {
  font-size: 20px;
  margin-bottom: 40px;
}
.contact-container input,
.contact-container textarea {
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 10px 20px;
}
.contact-container textarea {
  display: block;
  margin: 0 auto 20px;
  width: 470px;
  height: 150px;
}
.contact-container input[type="submit"] {
  display: block;
  margin: 0 auto;
  background-color: #2cc76a;
  color: #fff;
  cursor: pointer;
}
/* Footer */
footer {
  text-align: center;
  font-weight: bold;
  margin: 20px 0 100px;
}

/* Responsividade (Breakpoints)*/

/* small laptops */
@media (max-width: 1110px) {
  .plans-container {
    width: 95%;
  }
  .plan {
    margin: 0 5px;
  }
}
/* tablet 900px*/
@media (max-width: 900px) {
  .main-banner p {
    font-size: 25px;
    padding: 0 6rem;
  }
  .faq-grid {
    width: 100%;
  }
  .faq-item {
    padding: 15px;
  }
  .plan .price {
    font-size: 25px;
  }
}

/* celular grande 576px */
@media (max-width: 576px) {
  .logo {
    width: 140px;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-items {
    right: 15px;
  }
  .main-banner p {
    font-size: larger;
  }
  .plans-container {
    flex-direction: column;
  }
  .benefits-container ul {
    flex-direction: column;
  }
  .plan {
    flex: 1;
    min-width: 295px;
    margin: 10px auto;
  }
  .contact-container {
    padding: 3rem 2rem;
  }
  .contact-container input,
  .contact-container textarea {
    width: 100%;
    margin: 10px 0;
  }
  .faq-grid {
    flex-direction: column;
  }
}

/* celular médio 425px */
@media (max-width: 425px) {
  .navbar-items li {
    font-size: small;
  }
  .navbar-items {
    right: 10px;
  }
  .main-banner p {
    padding: 60px;
  }
}

/* celular pequeno 375px */
@media (max-width: 375px) {
  .navbar-items li {
    font-size: x-small;
  }
  .navbar-items {
    right: 6px;
  }
}
